<div class="row">
  <div class="col-md-9 col-lg-8 mx-auto mt-5">
    <form (ngSubmit)="onSignup(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Mail</label>
        <input type="email" class="form-control" id="email" name="email" ngModel>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" ngModel>
      </div>
      <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>
  </div>
</div>
